// Variables //

$white-color: #ffffff;
$black-color: #0f172a;
$primary-color: #12afff;
$subText-color: #64748b;
$background-color: #e4f6ff;
$unselected-btnColor: #f8fafc;
$border-greyColor: #e2e8f0;
$input-border: #cbd5e1;
$black-heading: #000b33;
$red-color: #ef4444;
$green-color: #10b981;
$royalblue-color: #6366f1;
$yellow-iconColor: #f59e0b;
$orange-color: #f97316;
$lightblue-color: #06b6d4;
