@import "../../Styles/Fonts.scss";
@import "../../Styles/Variables.scss";
@import "../../Styles/Breakpoints.scss";

.main {
  position: relative;
  @include breakpoint-(lg) {
    position: relative;
    background: $background-color;
  }
  .heading {
    width: fill-available;
    padding: 20px 33px 0px 33px;
    background: $background-color;

    @include breakpoint-(lg) {
      padding: 40px 0px 30px 50px;
      width: 46%;
    }
    @include breakpoint-(xl) {
      padding: 40px 0px 30px 80px;
      width: 36%;
    }

    h1 {
      @include poppins-700;
      font-size: 20px;
      color: $black-color;
      margin: 0 0 10px 0;
      text-align: center;
      line-height: 26px; /* 130% */

      span {
        color: $primary-color;
      }
      @include breakpoint-(md) {
        font-size: 32px;
        padding: 0px;
        line-height: 55.524px;
        text-align: center;
        width: 80%;
        margin: auto;
      }
      @include breakpoint-(lg) {
        font-size: 36px;
        padding: 0px;
        line-height: 55.524px;
        width: 100%;
        text-align: left;
      }
      @include breakpoint-(xl) {
        font-size: 40px;
      }
    }
    p {
      @include poppins-500;
      color: #334155;
      font-size: 12px;
      //   margin-left: 5px;
      margin: 0px 5px;
      text-align: center;
      line-height: 14px; /* 116.667% */
      @include breakpoint-(md) {
        font-size: 14px;
        text-align: center;
        line-height: 24px; /* 150% */
        width: 80%;
        margin: auto;
      }
      @include breakpoint-(lg) {
        font-size: 14px;
        text-align: left;
        line-height: 24px; /* 150% */
        width: 100%;
      }
      @include breakpoint-(xl) {
        font-size: 16px;
      }
    }
  }
  .main-content {
    display: flex;
    flex-direction: column;

    @include breakpoint-(lg) {
      flex-direction: row;
      padding-bottom: 30px;
    }
    .left-side {
      width: 100%;
      order: 2;
      position: relative;
      top: -65px;

      @include breakpoint-(lg) {
        width: 40%;
        margin-left: 50px;
        order: 1;
        top: 0px;
      }
      @include breakpoint-(xl) {
        width: 40%;
        margin-left: 80px;
        order: 1;
        top: 0px;
      }
      .sub-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 7px 21px;
        background-color: $white-color;
        border-radius: 10px;
        box-shadow: 0px 1px 6px 0px rgba(15, 23, 42, 0.1);
        margin: 0px 44px;
        width: fill-available;
        position: relative;
        top: 10px;
        @include breakpoint-(md) {
          width: 50%;

          margin: auto;
        }
        @include breakpoint-(lg) {
          width: 250px;
          left: 15px;
          margin: 0px;
        }
        @include breakpoint-(xl) {
          width: 290px;
          left: 15px;
          margin: 0px;
        }

        p {
          @include poppins-400;
          font-size: 12px;
          color: #334155;
          margin: 0px 15px;
          span {
            @include poppins-600;
          }
        }
      }
      .donate-box {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
        border-radius: 18px;
        background-color: $white-color;
        padding: 3px;
        width: fill-available;
        margin: 0px 18px;
        @include breakpoint-(md) {
          width: 70%;
          margin: auto;
        }
        @include breakpoint-(lg) {
          width: 320px;
          margin: 0px;
        }
        @include breakpoint-(xl) {
          width: 352px;
          margin: 0px;
        }
        h3 {
          @include poppins-600;
          font-size: 22px;
          color: $black-color;
          text-align: center;
        }
        .d-buttons {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          @include poppins-500;
          button {
            width: 41%;
            margin: 10px 14px;
            background-color: $unselected-btnColor;
            border: 1px solid $border-greyColor;
            border-radius: 4px;
            padding: 10px 40px;
            font-size: 14px;
            display: flex;
            justify-content: center;

            @include breakpoint-(lg) {
              padding: 8px 30px;
              margin: 8px 10px;
            }
            @include breakpoint-(xl) {
              padding: 10px 40px;
              margin: 10px 14px;
            }
          }
          button:nth-child(2) {
            background-color: $white-color;
            color: $primary-color;
            border: 1px solid $primary-color;
            border-radius: 4px;
          }
        }
        input {
          border: 1px solid $input-border;
          border-radius: 4px;
          padding: 16px;
          width: fill-available;
          margin: 10px 12px;
          @include breakpoint-(md) {
            margin: 4px 30px;
            padding: 12px;
          }
          @include breakpoint-(lg) {
            margin: 4px 16px;
            padding: 12px;
          }
          @include breakpoint-(xl) {
            margin: 10px 12px;
            padding: 16px;
          }

          @include poppins-400;
          ::placeholder {
            color: $subText-color;
            font-size: 12px;
          }
        }
        .donote-nowBtn {
          background-color: $primary-color;
          width: fill-available;
          color: $white-color;
          text-align: center;
          padding: 16px;
          border: none;
          border-radius: 4px;
          margin: 10px 14px;
          @include breakpoint-(md) {
            margin: 8px 30px;
            padding: 12px;
          }
          @include breakpoint-(lg) {
            margin: 8px 14px;
            padding: 12px;
          }
          @include breakpoint-(xl) {
            margin: 10px 14px;
            padding: 16px;
          }
        }
      }
    }
    .right-side {
      order: 1;
      background: $background-color;

      @include breakpoint-(lg) {
        background: none;
      }
      .top-icons {
        // position: absolute;
        // top: 0;
        // right: 0;
        // width: fill-available;

        .bulb {
          position: absolute;
          left: 39%;
          top: 18%;
          width: 45px;

          @include breakpoint-(lg) {
            right: 38%;
            top: 7%;
            left: auto;
            width: 60px;
          }
        }
        .cap {
          position: absolute;
          left: 22%;
          top: 16%;
          width: 40px;
          @include breakpoint-(lg) {
            top: 25%;
            right: 32%;
            width: 50px;
            left: auto;
          }
        }
        .book {
          position: absolute;
          left: 8%;
          top: 23%;
          width: 32px;
          @include breakpoint-(lg) {
            right: 25%;
            width: 50px;
            top: 10%;
            left: auto;
          }
        }
        .paint {
          position: absolute;
          top: 16%;
          right: 10%;
          width: 35px;
          @include breakpoint-(lg) {
            top: 7%;
            right: 6%;
            width: 50px;
          }
        }
        .globe {
          position: absolute;
          top: 25%;
          right: 8%;
          width: 35px;
          @include breakpoint-(lg) {
            right: 6%;
            width: 50px;
            top: 30%;
          }
        }
      }

      .parent-img {
        width: fill-available;
        margin: 0px 30px;
        @include breakpoint-(md) {
          width: 70%;
          display: block;
          margin: auto;
        }
        @include breakpoint-(lg) {
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 0px;
          width: 55%;
          height: 85%;
        }
        @include breakpoint-(xl) {
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 0px;
          width: fit-content;
          height: fit-content;
        }
      }
    }
  }
}
