@import "../../Styles/Fonts.scss";
@import "../../Styles/Variables.scss";
@import "../../Styles/Breakpoints.scss";

.stats {
  background-color: $background-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include breakpoint-(lg) {
    padding: 50px 50px;
  }
  @include breakpoint-(xl) {
    padding: 50px 80px;
  }
  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 49%;
    margin: 30px 0px;
    @include breakpoint-(md) {
      width: 20%;
    }
    @include breakpoint-(lg) {
      width: 20%;
    }
    .stats-img {
      border-radius: 100%;
      height: 42px;
      min-width: 42px;
      display: flex;
      //   margin: auto;
      //   margin: 0px 15px 0px 0;
      background-color: $orange-color;
      margin-bottom: 5px;

      @include breakpoint-(lg) {
        height: 60px;
        min-width: 60px;
      }
      @include breakpoint-(xl) {
        height: 72px;
        min-width: 72px;
      }
      img {
        width: 20px;
        height: 20px;
        margin: auto;

        @include breakpoint-(lg) {
          width: 25px;
          height: 25px;
        }
        @include breakpoint-(xl) {
          width: 30px;
          height: 30px;
        }
      }
    }

    h5 {
      color: $black-color;
      @include poppins-700;
      text-align: center;
      font-size: 22px;
      margin: 0;

      @include breakpoint-(lg) {
        font-size: 28px;
        line-height: 44px;
        padding: 10px 0px;
      }
      @include breakpoint-(xl) {
        font-size: 32px;
        line-height: 44px;
        padding: 10px 0px;
      }
    }
    p {
      @include poppins-400;
      color: $subText-color;
      font-size: 12px;
      line-height: 20px;

      @include breakpoint-(lg) {
        @include poppins-500;
        font-size: 13px;
      }
      @include breakpoint-(xl) {
        @include poppins-500;
        font-size: 14px;
      }
    }
  }
  .block:nth-child(2) .stats-img {
    background-color: $orange-color;
  }
  .block:nth-child(3) .stats-img {
    background-color: $yellow-iconColor;
  }
  .block:nth-child(4) .stats-img {
    background-color: $lightblue-color;
  }
  .block:nth-child(5) .stats-img {
    background-color: $royalblue-color;
  }
}
